el-menu.el-menu-demo(
  mode="horizontal"
  router
  theme="dark"
)
  el-menu-item(
    index="/"
  ) Home
  el-menu-item(
    index="/register"
  ) Register
  el-menu-item(
    index="/login"
  ) Login
